@use 'variables' as variable;

.artists {
	color: variable.$primary-text;
	margin: 0.5rem;
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
}

.artists__info {
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: 2rem;
	margin: 2rem;
}

.artists__text {
	display: flex;
	flex-flow: column;
}

.artists__name {
	color: variable.$secondary-color;
	font-size: 3rem;
	font-weight: 700;
	
}

.artists__cover {
	border-radius: 50%;
	width: 200px;
}

.artists__fans, .artists__albums {
	font-size: 0.8rem;
	color: grey;
}

.artists__top-tracks {
	display: flex;
	flex-flow: column;
	
}

.artists__track-item {
	gap: 0.5rem;
	display: flex;
	flex-flow: row;
	align-items: center;
}

.track__album-cover {
	width: 50px;
	margin: 0.5rem;
}

.artists__album {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 8rem;
  
}

.artists__album-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.artists__album-cover {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 0.3rem;
}

.album__title {
  margin-top: 0.5rem;
  text-align: center;
  color: white;
}

.track__album-number {
	color: white;
	font-size: 0.8rem;
}

.artists__top-tracks-headline {
	margin: 2rem 0 1rem 0;

}

.artists__album-headline {
	margin: 2rem 0 1rem 0;
}

.artists__album-title {
	color: white;
	text-decoration: none;
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

.artists {
	margin-left: 10rem;
}

.artists__album {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
	
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }