@use 'variables' as variable;

html {
    font-family: 'Nunito Sans', sans-serif;
}

.slide-up-menu {
  transition: transform 0.3s ease-in-out;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh; 
  background: variable.$primary-color-background-darker;
  z-index: 2;
  padding: 1em;
  box-sizing: border-box;
  
  &-hidden {
    transform: translateY(100%);
  }

  &-visible {
    transform: translateY(0);
  }
}

.spinner {
  margin-left: 10rem;
}

@media (min-width: 576px) { 
  // Add specific styles here.
}

@media (min-width: 768px) { 
  // Add specific styles here.
}

@media (min-width: 992px) { 
  // Add specific styles here.
}

@media (min-width: 1200px) { 
  // Add specific styles here.
}

@media (min-width: 1400px) { 
  // Add specific styles here.
}
