@use 'variables' as variable;

.footer__container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100vw;
  background-color: variable.$primary-color-background;

  @media (min-width: 992px) { 
    display: none;
  }
}

.footer__desktop {
  display: none;

  @media (min-width: 992px) { 
    display: flex;
    flex-flow: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #131c26;
  }
}

.footer {
  &__link {
    font-size: 1.5rem;
    background: transparent;
    border: none;
    color: variable.$secondary-color;
  }

  &__desktop-link {
    font-size: 1rem;
    margin: 1rem;
    background: transparent;
    border: none;
    color: variable.$primary-text;
    text-decoration: none;

    @media (min-width: 992px) { 
      display: block;
    }
  }

  &__desktop-link-icon {
    font-size: 2rem;
  }
}

.player__progress {
  &-currentTime {
    font-size: 0.8rem;
  }
  
  &-duration {
    font-size: 0.8rem;
  }
}

@media (min-width: 576px) { 
  // Add specific styles here.
}

@media (min-width: 768px) { 
  // Add specific styles here.
}

@media (min-width: 1200px) { 
  // Add specific styles here.
}

@media (min-width: 1400px) { 
  // Add specific styles here.
}
