@use 'variables' as variable;

.playlists {
  &__favorited-item {
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
  }

  &__favorited-title {
    color: #fff;
  }

  &__favorited-artist {
    color: grey;
    font-size: 0.8rem;
  }

  &__headline {
    color: #fff;
  }

  &__playlist-title {
    color: variable.$secondary-color;
  }

  @media (min-width: 992px) {
    margin-left: 10rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }
