@use 'variables' as variable;

.player {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  height: 4rem;
  width: 100vw;
  position: fixed;
  bottom: 3.5rem;
  background-color: variable.$primary-color-background;
}

audio {
  display: none;
}

.player.show {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.player__container {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100vw;
  
}

.player__container.hasBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-size: cover;
  filter: blur(50px); 
  background-position: center;

}

.player__container.hasBackground::before {
  background-image: var(--bg-image);
}


.player__info {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
  padding: 0;
}

.player__controls {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem;
}

.player__controls-album-image {
  width: 350px;
  border-radius: 0.5rem;
  margin: 0 2rem ;
 
  
}

.player__buttons {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}

.player__button-icon {
  font-size: 1.3rem;
}

.player__favorite-icon {
  font-size: 1.3rem;
  color: variable.$primary-text;
}


.player__controls-song-details {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}


.player__controls-expanded {
  display: block;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: variable.$primary-color-background;
  position: fixed;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  
}

.player__controls-expanded::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background-size: cover;
  filter: blur(100px); 
  background-position: center;
  
}

.player__controls-expanded.hasBackground::before {
  background-image: var(--bg-image);
}

.player__controls-expanded::after {
  content: ""; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: hwb(212 7% 85% / 0.774); 
  z-index: -1; 
  pointer-events: none; 
}

.player__controls-expanded.open {
  transform: translateY(0);
}

.player__controls-close button {
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 4;
}

.player__controls-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: #ffffff; 
  font-size: 1.5rem;
  cursor: pointer;
}

.player__controls-buttons {
  display: flex;
  flex-flow: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 2rem 0;
}

.player__controls-song-title {
  color: variable.$secondary-color;
  margin: 1rem;
  text-align: center;
}

.player__controls-artist-name {
  color: variable.$primary-text;
  font-size: 0.8rem;
  margin: 1rem;
  text-align: center;
}

.player__controls-container {
  margin: 5rem;
}

.player__controls-close-icon {
  margin: 6rem 0 0 1rem;
}

.player__controls-loop-on {
  color: variable.$secondary-color;
}

.player__controls-loop-1 {
  color: variable.$secondary-color;
}

.player__controls-toggle-pause {
  color: variable.$secondary-color;
}

.player__controls-toggle-play {
  color: variable.$secondary-color;
}

.button {
  font-size: 1.8rem;
  
  &:hover {
    color: variable.$secondary-color;
  }
}

.player__info-album-image {
  width: 50px;
  display: block;
  margin: auto 0;
}


.player__info-song-title {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.2;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: variable.$primary-text;
  font-weight: bold;
  
}

.scrolling {
  animation: scrolling-text 10s linear infinite;
}

@keyframes scrolling-text {
  0% { text-indent: 100% }
  100% { text-indent: -100% }
}


.player__info-artist-name {
  color: variable.$primary-text;
  font-size: 0.8rem;
}

.player__controls-buttons-desktop {
  display: none;
}

.player__audio {
  display: none;
}

.shuffle-active {
  color: variable.$secondary-color;
}
.player__progress {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #f78278 var(--progress), transparent var(--progress));
  border-radius: 5px;
  position: absolute; 
  top: 0;
  cursor: pointer;
  transition: width 0.1s ease-in-out;
}

.player__progress input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  background: transparent; 
  border-radius: 5px;
  outline: none;
  z-index: 6;
  cursor: pointer;
  transition: all 0.2s;
}

/* Chrome */
.player__progress input[type='range']::-webkit-slider-runnable-track {
  appearance: none;
  width: 100%;
  height: 4px;
  background: transparent;
  border-radius: 1.3px;
  border: none;
  transition: all 0.2s;
}

.player__progress input[type='range']::-webkit-slider-thumb {
  margin-top: -3px; 
  width: 16px;   
  height: 16px; 
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  -webkit-appearance: none;
  transition: all 0.2s;
}

/* Firefox */
.player__progress input[type='range']::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-radius: 1.3px;
  border: none;
  transition: all 0.2s;
}
.player__progress input[type='range']::-moz-range-thumb {
  width: 16px;  
  height: 16px;  
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s;
}

.player__controls-expanded-container {
  margin: 0 auto;
}

.player__progress-extended {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #f78278 var(--progress), variable.$primary-color-background-darker var(--progress));
  border-radius: 5px;
  position: relative; 
  cursor: pointer;
  transition: width 0.1s ease-in-out;
  z-index: 9;
}

.player__duration {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0.5rem 0;
  color: white;
}

.player__progress-extended input[type='range'] {
  
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 0;
  background: transparent; 
  border-radius: 5px;
  outline: none;
  z-index: 6;
  cursor: pointer;
  transition: all 0.2s;
}

/* Chrome */
.player__progress-extended input[type='range']::-webkit-slider-runnable-track {
  
  width: 100%;
  height: 4px;
  background: transparent;
  border-radius: 1.3px;
  border: none;
  transition: all 0.2s;
}

.player__progress-extended input[type='range']::-webkit-slider-thumb {
  margin-top: -3px; 
  width: 16px;   
  height: 16px;  
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  
  transition: all 0.2s;
}

/* Firefox */
.player__progress-extended input[type='range']::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-radius: 1.3px;
  border: none;
  transition: all 0.2s;
}

.player__progress-extended input[type='range']::-moz-range-thumb {
  width: 16px;   
  height: 16px;  
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s;
}

.player__controls-container-extended {
  margin: 3rem;

}


@media (min-width: 576px) { 
  
  .player__info-song-title {
    width: 300px;
  }
  
  
  
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  
  .player {
    bottom: 0;
  }
  
  .player__controls {
    display: none;
  }

  .player__controls-expanded::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  background-size: cover;
  filter: blur(0px); 
  background-position: center;
  
}
  
  .player__controls-buttons-desktop {
    display: flex;
    flex-flow: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    
  }



  .player__controls-container-extended {
    display: flex;
    flex-flow: column;
    margin: 4rem;

  }

  .player__container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1rem;
  }

  .player__audio {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 3;

}

.player__audio-slider {
  
  appearance: none;
  width: 100%;
  height: 4px;
  background: transparent;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 10px;
}

.player__audio-slider::-webkit-slider-thumb {
  
  appearance: none;
  width: 0;
  height: 0;
  cursor: pointer;
}

.player__audio-slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  display: none;
  width: 4px;
  height: 4px;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  
}

/* Chrome styles */
.player__audio-slider::-webkit-slider-runnable-track {
  background: #090c0f;
  height: 4px;
  
}

.player__audio-slider::-webkit-slider-thumb {
  -webkit-appearance: none;

  
}

.player__audio-slider:active::-webkit-slider-runnable-track {
  background: #090c0f;
  height: 4px;
}

/* Firefox styles */
.player__audio-slider::-moz-range-track {
  
  background: #090c0f;
  height: 4px;
  border-radius: 10px;
}

.player__audio-slider::-moz-range-thumb {
  display: none;
}

.player__audio-slider::-moz-range-progress {
  background: variable.$secondary-color;
  height: 4px; 
  border-radius: 10px;
}

/* IE/Edge styles */
.player__audio-slider::-ms-track {
  background: rgba(0, 0, 0, 0.699);
  
  
}

.player__audio-slider::-ms-thumb {
  background: var(--secondary-color);
}



.button {
  font-size: 2rem;
}


.player__controls-song-details {
  display: flex;
  flex-flow: row;
  margin: 3rem;
}



.player__controls-song-title {
  font-size: 3rem;
  font-weight: 700;
  color: variable.$secondary-color;

}

.player__controls-artist-name {
  font-size: 1rem;
}

input[type='range'] {
      overflow: hidden;
      width: 100%;
      
      background-color: transparent;
      border-radius: 10px;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 4px;
      -webkit-appearance: none;
      color: #13bba4;
      
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 0px;
      -webkit-appearance: none;
      height: 0px;
      box-shadow: -80px 0 0 80px variable.$secondary-color;
    }



}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }