@use 'variables' as variable;

.player {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  height: 4rem;
  width: 100vw;
  position: fixed;
  bottom: 3.5rem;
  background-color: variable.$primary-color-background;
}

audio {
  display: none;
}

.player.show {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.player__container {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100vw;
}

.player__info {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
  padding: 0;
}

.player__controls {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem;
}

.player__controls-album-image {
  width: 300px;
}

.player__buttons {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}

.player__button-icon {
  font-size: 1.3rem;
}

.player__controls-song-details {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.player__controls-expanded {
  display: block;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: variable.$primary-color-background;
  position: absolute;
  bottom: -70px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.player__controls-expanded::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Keep the background behind the content */
    background-size: cover;
    filter: blur(300px); /* Adjust blur value as needed */
    background-position: center;
}

.player__controls-expanded.hasBackground::before {
    background-image: var(--bg-image);
}

.player__controls-expanded.open {
  transform: translateY(0);
}

.player__controls-close button {
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 4;
}

.player__controls-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: #ffffff; 
  font-size: 1.5rem;
  cursor: pointer;
}

.player__controls-buttons {
  display: flex;
  flex-flow: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
}

.player__controls-song-title {
  color: variable.$primary-text;
  margin: 1rem;
  text-align: center;
}

.player__controls-artist-name {
  color: variable.$primary-text;
  font-size: 0.8rem;
  margin: 1rem;
  text-align: center;
}

.player__controls-container {
  margin: 5rem;
}

.player__controls-close-icon {
  margin: 1rem;
}

.player__controls-loop-on {
  color: variable.$secondary-color;
}

.player__controls-loop-1 {
  color: variable.$secondary-color;
}

.player__controls-toggle-pause {
  color: variable.$secondary-color;
}

.player__controls-toggle-play {
  color: variable.$secondary-color;
}

.player__progress {
  display: none;
}

.button {
  font-size: 1.5rem;
  
  &:hover {
    color: variable.$secondary-color;
  }
}

.player__info-album-image {
  width: 50px;
  display: block;
  margin: auto 0;
}


.player__info-song-title {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.2;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: variable.$primary-text;
  font-weight: bold;
}

.scrolling {
  animation: scrolling-text 10s linear infinite;
}

@keyframes scrolling-text {
  0% { text-indent: 100% }
  100% { text-indent: -100% }
}


.player__info-artist-name {
  color: variable.$primary-text;
  font-size: 0.8rem;
}



@media (min-width: 576px) { 
  .player__progress {
    display: block;
  }

  .player__info-song-title {
    width: 300px;
  }
}
