@use 'variables' as variable;

.search {
    margin: 0.5rem;
    
    
    
    &__input-container {
        position: sticky;
        display: block;
        top: 0.5rem;
    }
    
    &__input {
        padding: 0.7rem 7rem;
        background-color: variable.$primary-color-background-darker;
        border: none;
        color: white;
        border-radius: 0.3rem;
        position: relative;
        padding-left: 40px;
        width: 100%;
        
        &-icon {
            color: variable.$secondary-color;
            position: absolute;
            left: 0.5rem; 
            top: 50%;
            transform: translateY(-50%);
        }
        
        &:focus {
            outline: 2px solid variable.$secondary-color;
        }
    }
    
    &__results {
        height: 100%;
        overflow-y: scroll;
        color: white;
        margin-bottom: 7rem;
        
        &-item {
            padding: 0.5rem;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            gap: 1rem;

            
            
            
            &-image {
                width: 50px;
            }
            
            &-info {
                display: flex;
                flex-flow: column;
                
            }
            
            .search__results-artist{
                color: grey;
                font-size: 0.8rem;
            }
            
            
        }
    }
}

.option {
    font-size: 1.2rem;
}

.search__results-item-container-song {
    display: flex;
    gap: 1rem;
    
}

.search__results-item {
  padding: 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  gap: 1rem;
  z-index: 0;
} 



.playing {
    color: variable.$secondary-color;
}

.track__number {
    color: grey;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up) 
@media (min-width: 992px) { 

    .search__input-container{
        width: 360px;
        margin: 0.5rem auto;
    }

    .search__results {

        margin-bottom: 3rem;
        margin-left: 10rem;
    }

 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }