@use 'variables' as variable;

.search {
    margin: 0.5rem;
    
    &__label {
        // Styles for label go here
    }
    
    &__input-container {
        position: sticky;
        display: block;
        top: 0.5rem;
    }
    
    &__input {
        padding: 0.7rem 7rem;
        background-color: variable.$primary-color-background-darker;
        border: none;
        color: white;
        border-radius: 0.3rem;
        position: relative;
        padding-left: 40px;
        width: 100%;
        
        &-icon {
            color: variable.$secondary-color;
            position: absolute;
            left: 0.5rem; 
            top: 50%;
            transform: translateY(-50%);
        }
        
        &:focus {
            outline: 2px solid variable.$secondary-color;
        }
    }
    
    &__results {
        height: 100%;
        overflow-y: scroll;
        color: white;
        margin-bottom: 7rem;
        
        &-item {
            padding: 1rem;
            display: flex;
            flex-flow: row;
            gap: 1rem;
            
            &-cover {
                
            }
            
            &-image {
                width: 50px;
            }
            
            &-info {
                display: flex;
                flex-flow: column;
                
            }
            
            .search__results-artist{
                color: grey;
                font-size: 0.8rem;
            }
            
            
        }
    }
}


.current { 
    color: variable.$secondary-color;
}


