@use 'variables' as variable;

.sidebar {
	display: none;

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) {
		display: flex;
		flex-flow: column;
		align-items: center;
		position: fixed;
		bottom: 0;
		left: 0;
		height: 100vh;
		width: 200px;
		background-color: #131c26;	
		padding-top: 5rem;	
	}

	.sidebar-link-icon {
		color: variable.$secondary-color;
		margin: 0 0.5rem;
	}

	.sidebar-link {
		font-size: 0.8rem;
		margin: 1rem;
		background: transparent;
		border: none;
		color: variable.$primary-text;
		text-decoration: none;

		&:hover {
			color: variable.$secondary-color;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }
